<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <httpModules>
      <add name="DomainServiceModule" type="System.Web.Ria.Services.DomainServiceHttpModule, System.Web.Ria, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpModules>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <roleManager enabled="false" />
    <authentication mode="Forms">
      <forms name=".TERSApplication_ASPXAUTH" />
    </authentication>
    <profile>
      <properties>
        <add name="FriendlyName" />
      </properties>
    </profile>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="DomainServiceModule" preCondition="managedHandler" type="System.Web.Ria.Services.DomainServiceHttpModule, System.Web.Ria, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
  <connectionStrings>
    <add name="TrainingEventRegistrationEntities" connectionString="metadata=res://*/TERSModel.csdl|res://*/TERSModel.ssdl|res://*/TERSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=dc2kd03;Initial Catalog=TrainingEventRegistration;Persist Security Info=True;User ID=SIGNUP_APPL_SVC;Password=WS(_#T091_9Z;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="TrainingEventRegistrationEntities1" connectionString="metadata=res://*/TERSReadOnly.csdl|res://*/TERSReadOnly.ssdl|res://*/TERSReadOnly.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=dc2kd03;Initial Catalog=TrainingEventRegistration;Persist Security Info=True;User ID=SIGNUP_APPL_SVC;Password=WS(_#T091_9Z;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>